body{
    margin: 0;
}

.site{
    display: flex;
    flex-direction: row;
}

.side-bar{
    position: fixed;
    width: 10%;
    height: 100%;
    text-align: center;
    /*margin-top: 5%;*/
    /*box-shadow: 0.5em 0px 1em #dedede;*/
    /*border-right: 1px solid;*/
}

.content{
    width: 90%;
    margin-left: auto;
    height: 2000px;
    background-color: #b0b0b0;
}